body{
	font-family: roboto;
}

rect.bordered {
	stroke: #D3D3D3;
	stroke-width:1.5px;
}

rect.selected {
	stroke: #000080;
	stroke-width:1.5px;
}

text.mono {
	font-size: 9pt;
	font-family: roboto;
	fill: #000;
}

text.axis-workweek {
	fill: #000;
}

text.axis-worktime {
	fill: #000;
}

.tooltip {
	text-decoration: underline;
}